// garbage-component

:host {
	// background-color: blue;
	// border: 1px solid green;

	h1 {
		border: 1px solid green;
	}	
}


h1{color:red;} 
  

  
polyfill-next-selector { content: ':host h1'; }
::content h1 {
	color: red;
}