<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<polymer-element name="todo-item" attributes="index done text">

	<template>
		
		<link rel="stylesheet" href="./todo-item.css">
		
		<paper-item class="{{ {done: done, deleted: deleted} | tokenList }}">
			<span flex>{{text}}</span>
			<paper-icon-button on-click={{onClickDelete}} icon="delete"></paper-icon-button>
			<paper-checkbox checked={{done}}></paper-checkbox>
		</paper-item>

	</template>
	
	<script>
		Polymer({

			onClickDelete: function(){
				var _this = this;
				setTimeout(function(){
					_this.fire('delete', this.index);
				}, 300);
				this.deleted = true;
			},

  			doneChanged: function(){
  				this.fire('done', this.done);
  			}

		});
	</script>

</polymer-element>
	
