:host {
  width: 100%;
  background: #f3f3f3;
  display: block; }
  :host paper-item {
    -webkit-transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -moz-transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    overflow: hidden; }
    :host paper-item.done {
      background: #BBB; }
    :host paper-item.deleted {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%); }
